body {
   background-image: url(assets/19449742.jpg);
   background-size: cover;
}

h1 {
    font-family: 'Times New Roman', Times, serif;
}

.lower {
    position: relative;
    top: 3px;
}

.higher {
    position: relative;
    top: -3px;
}

table, 
th, 
td {
    border: 1px solid black;
    margin: 0 auto;
    padding: 5px;
    font-weight: bold;
    font-family: sans-serif;
    background: linear-gradient(to left, rgba(87, 86, 86, 0.2), rgba(255, 255, 255, 0.2));
}

footer {
    text-align: center;
    padding: 3px;
    background: linear-gradient(to left, rgba(87, 86, 86, 0.5), rgba(255, 255, 255, 0.5));
    border: 2px solid black;
  }